[Unit]
Description=Nginx Prometheus Exporter
Wants=network-online.target
After=network-online.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/nginx-prometheus-exporter \
  -nginx.scrape-uri=http://127.0.0.1/nginx_status
 
[Install]
WantedBy=multi-user.target